
/* CSS Variables fot Dark and Light theme  */
:root {
	--primary-color: #1abc9c;
	--secondary-color: #21b0ed;
	--font-color: #292922;
	--secondary-font-color: rgba(255,255,255,.25);
	--body-font: Lato,sans-serif;
	--heading-font: Raleway,sans-serif;
	--heading-color: #fff;
	--bg-caption-odd-color: #fff;
	--bg-caption-even-color: #f6f6f6;
	--bg-heatmap-color: repeating-linear-gradient(-45deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.5) 6px,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 12px);
	--bg-color: #fff;
}

[data-theme="dark"] {
	--primary-color: #1abc9c;
	--secondary-color: #21b0ed;
	--font-color: #fff;
	--secondary-font-color: rgba(255,255,255,.25);
	--heading-color: #292922;
	--bg-caption-odd-color: #414347;
	--bg-caption-even-color: #36393e;
	--bg-heatmap-color: repeating-linear-gradient(-45deg,hsla(218,7%,23%,1),hsla(218,7%,23%,1) 6px,hsla(220,4%,27%,1) 0,hsla(220,4%,27%,1) 12px);
	--bg-color: #202124;
}
/*--transcript-font-color: #292922; */


#header,
#header-wrap {
  background-color: var(--heading-color);
}

html, body,
#content {
	background-color: var(--bg-color);
}

#footer.dark, .dark #footer {
	background-color: #333;
}


/* Container & Player */
.all-container {
	padding-left: 60px;
	padding-right: 10px;
}

.player-container,
#player{
	max-height: calc(100vh - 200px) !important;
}

.player-container.left-wrapper{
	width:60%;
	padding-right: 60px;
	display: inline-block;
}

.second-container{
	display:none
}
.second-container.right-wrapper{
	width:calc(40% - 70px);
	/*height: 100%;*/
	display: inline-block;
}

#player, #player2 {
	-moz-box-shadow: 2px 4px 14px #606873;
	-webkit-box-shadow: 2px 4px 4px #606873;
	box-shadow: 2px 4px 14px #606873;
}

#player2 {
	width:calc(100% - 20px);
	margin:auto
}


/* Container & Player */
#toolbarControls {
	position:absolute;
	top:20px;
	left:70px;
	background: rgba(23,35,34,.75);
	border-radius:5px;
	display: none;
	/*min-height: 45px;*/
}
#toolbarControls.active {
	display: block;
}

#toolbarWrapper{
	display: flex;
	cursor:pointer;
	color: #fff;
}

.search-box {
	margin: 0;
	padding: 0;
}

.search-box::selection,
.search-box::-moz-selection,
.search-box .search-count span::selection,
.search-box .search-count span::-moz-selection { /* Code for Firefox */
  background-color: transparent;
}

.search-box .input {
	width: 0px;
	border: 0px;
	outline: none;
	background: transparent;
	transition: all 0.5s ease;
	color: white;
	line-height: 1;
	height: 100%;
}

/*.ytp-unmute-inner{
	position:relative;
	background-color:transparent;
	border-bottom:none;
	padding:0;
	border-radius:2px;
}*/
.search-box .input.active {
	padding: 0 10px;
}

.ytp-unmute-inner .search-box .input.active {
	width: 260px;
}
.ytp-unmute-none .search-box .input.active {
	width: 431px;
}
.ytp-unmute-inner .search-box .input.active.max {
	width: 129px;
	transition: none;
}
.ytp-unmute-none .search-box .input.active.max {
	width: 300px;
	transition: none;
}
.ytp-unmute-inner .search-box .input.active.min {
	width: 192px;
	transition: none;
}
.ytp-unmute-none .search-box .input.active.min {
	width: 365px;
	transition: none;
}

.search-count {
	display: none;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.search-count.active {
	display:inline-block;
}
.search-count span {
	font-size: .82rem;
	cursor: text;
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
			 -moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
						user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.ytp-book-icon,
.ytp-search-icon,
.ytp-volume-icon {
	/*display:inline-block;*/
	padding: 10px 16px;
	position:relative;
	z-index:10;
}

#volumeButton {
	padding: 2px 16px 10px 16px;
}

.fa-volume-up {
	vertical-align: top;
	padding-top: 14px;
}

.ytp-unmute-text {
	padding-top: 8px;
}

.ytp-left-icon,
.ytp-right-icon,
.ytp-close-icon {
	padding: 6px 10px;
	position:relative;
	display: none;
}
.ytp-left-icon.active,
.ytp-right-icon.active,
.ytp-close-icon.active {
	display:inline-block;
}

.ytp-book-icon:hover,
.ytp-left-icon:hover,
.ytp-right-icon:hover,
.ytp-close-icon:hover,
.ytp-search-icon:hover,
.ytp-volume-icon:hover {
	background-color: #00adef;
}

.ytp-book-icon:hover {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.ytp-volume-icon:hover {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.tags-wrapper {
	max-width: 530px;
	padding: 0 0 10px 15px;
	transition: all 0.5s ease-in;
	visibility: hidden;
	opacity: 0;
	margin-top: -10%;
}
.tags-wrapper.active {
	visibility: visible;
	opacity: 1;
	margin-top: 0px;
}

.listing__keywords-of-topic {
	align-items: center;
	background: rgba(23,35,34,.75);
	border-radius: 4px;
	color: #fff;
	display: inline-flex;
	font-size: .75rem;
	height: 2em;
	padding-left: .75em;
	padding-right: .75em;
	margin-right: .5rem;
	margin-bottom: .5rem;
	cursor: pointer;
	/*justify-content: center;
	line-height: 1.5;
	white-space: nowrap;*/
}
.listing__keywords-of-topic:hover {
	background-color: #00adef;
}


/* Unmute Button Old */
#unmuteButtonWrapper{
	position:absolute;
	top:10px;
	left:70px;
	background: rgba(23,35,34,.75);
	padding:6px 10px 10px 10px;
	border-radius:5px;
	display:none;
	cursor:pointer;
	color: #fff;
}
#unmuteButtonWrapper:hover{
	background-color: #00adef;
}
.unmute-icon{
	cursor:pointer;
	background-image:url(/assets/jwplayer/assets/buttons.png);
	background-color:transparent;
	margin-right:auto;
	background-position:0 -805px;
	width:32px;
	height:32px;
	display:inline-block;
}
#unmute{
	height:32px;
	color:#555;
	font-family:-webkit-pictograph
}
.ytp-unmute-text{
	max-width:200px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	position:relative;
	z-index:10;
	margin-left:7px;
	font-weight:700
}
.ytp-unmute-icon{
	display:inline-block;
	vertical-align:middle;
	padding-left:2px;
	position:relative;
	z-index:10
}
.ytp-unmute-icon i{
	font-size:14px;
	font-weight:700
}


/* Layout Controls: Cast, Maximize, Split, Single & Swap */
#layout-controls {
	position: absolute;
	top: 10px;
	right: 12px;
	width: 36px;
	z-index: 1;
}

#layout-controls button {
	width: 2.7em;
	height: 2.7em;
	display: block;
	border-width: 0;
	padding: 0;
	background: rgba(23,35,34,.75);
	margin: 0 0 .5em;
	color: #fff;
	border-radius: 0.375em;
	-webkit-box-shadow: .1px .1px .1px 1px #333;	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:	.1px .1px .1px 1px #333;	/* Firefox 3.5 - 3.6 */
	box-shadow:		 .1px .1px .1px 1px #000;	/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	cursor:pointer;
}

#layout-controls button:hover {
	background-color: #00adef;
	box-shadow: none;
}

#layout-controls button .fill {
	fill: #fff;
}
#layout-controls button .stroke {
	stroke: #fff;
	fill: none;
}

#stage-cast.stage-cast .stage-cast-icon-connected {
	display: none;
}
#stage-cast.stage-cast-connected .stage-cast-icon {
	display: none;
}

#stage-maximize.stage-maximize .stage-minimize-icon {
	display: none;
}
#stage-maximize.stage-minimize .stage-maximize-icon {
	display: none;
}

#stage-splitSingleButton.stage-fullFrameButton .svg-icon-stage-sideBySide {
	display: none;
}
#stage-splitSingleButton.stage-sideBySideButton .svg-icon-stage-fullFrame {
	display: none;
}

#stage-swapButton.stage-swapLeft .svg-icon-stage-swapLeft {
	display: none;
}
#stage-swapButton.stage-swapRight .svg-icon-stage-swapRight {
	display: none;
}


/* HeatMap */
.heatmap-wrapper {
	height: 3em;
	margin: 12px 0 10px 0;
	background:var(--bg-heatmap-color);
	background-color: #f3f3f3;
	display: none;
}
.heatmap-wrapper.active {
	display: block;
}

.heatmap-blocks {
	display:-ms-flexbox;
	display: flex;
	height: 3em;
	transition:opacity .1s cubic-bezier(.215,.61,.355,1);
}

.heatmap-block {
	-ms-flex-positive:1;
	flex-grow:1;
	height:100%;
	/*background-color: transparent;*/
}

.heatmap-block.active {
	background-color: #21b0ed;
	opacity: 0.333333;
	cursor: pointer;
}
.heatmap-block.active.much {
	opacity: 1;
}
.heatmap-block.active:hover {
	background:repeating-linear-gradient(-45deg,#fff,#fff 6px,#fff 0,#fff 12px);
	background:repeating-linear-gradient(-45deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.5) 6px,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 12px);
	background-color: #21b0ed;
}

/*.svg {
	display: inline-block;
	position: absolute;
	cursor: pointer;
}*/


/* Transcript */
.transcript-wrapper {
	display: none;
}

#transcript {
	display: none;
}
#transcript.active {
	display: block;
	max-height: 300px;
}

.transcript-wrapper-2 {
	/*margin: 50px 50px 0;*/
}

.transcript {
	/*padding: 0 20px;*/
	margin-bottom: 30px;
	overflow: auto;
}

.transcript::-webkit-scrollbar{
	width:5px;
	cursor:pointer
}
.transcript::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3)
}
.transcript::-webkit-scrollbar-thumb{
	background-color:#a9a9a9;
	outline:#708090 solid 1px
}
.transcript p{
	font-size:17px;
	overflow:hidden;
	text-align:left;
	color:var(--font-color);
	line-height:20px;
	margin-top:0
}
.transcript span{
	display:block;
	padding:3px 2px;
	cursor:pointer;
	color:var(--font-color);
}
.transcript span.current,
.transcript span.current span {
	/*background:#616161;*/
	color:#00adef;
}
.transcript span:hover{
	color:#616161
}
.transcript span em{
	font-style:normal;
	background:#bde7ff;
	padding: 1px 5px;
	border-radius:4px;
	/*color:#fff;*/
}
.transcript span em.pink{
	background:#ffdce6;
}
.transcript span em.peach{
	background:#ffeab6;
}
.transcript span em.gossip{
	background:#cff7c3;
}
.transcript span em.tulip{
	background:#c3f5e8;
}
.transcript span em.purple{
	background:#d7d0fc;
}
.transcript span em.onahau{
	background:#bde7ff;
}


.transcript span em.current{
	background:#ff0046
}
.transcript h4{
	margin:25px 0 15px;
	text-align:left;
	color:#fff;
	font-weight:700
}

.caption-copy{
	max-width:640px;
	margin:20px auto;
	text-align:left;
	padding:10px
}
.caption-copy div,.caption-copy li,.caption-copy ol{
	text-align:left;
	font-size:20px
}
.caption-copy div{
	font-weight:400;
	margin:15px 0
}
.caption-copy ol{
	margin-left:15px;
	margin-top:20px
}
.caption-copy li{
	margin-bottom:10px
}

#content p {
	line-height: 2;
}

.caption{
	z-index:-100;
}

.transcript span.caption{
	padding-left:5px;
}

.caption-odd {
	background-color: var(--bg-caption-odd-color);
}
.caption-even {
	background-color: var(--bg-caption-even-color);
}

/*.caption-dot{
	display:inline-block!important;
	border-color:#1890ff!important;
	color:#1890ff!important;
	width:3px;
	height:3px;
	vertical-align:top;
	margin-top:10px;
	padding:0!important;
	background-color:#fff!important;
	border-radius:3px;
	border:2px solid transparent;
	margin-right:2px;
}
.caption:hover .caption-dot{
	visibility: visible;
}*/

.caption-clock {
	display: inline-block;
	vertical-align:top;
	line-height: 2.1;
	padding: 3px 2px;
	visibility: hidden;
}
.caption:hover .caption-clock{
	visibility: visible;
}

.transcript span.caption-time{
	display:inline-block;
	vertical-align:top;
	pointer-events:none;
	font-family:Raleway,Montserrat,sans-serif;
}
.caption-time i{
	font-size:.9em
}

.transcript span.caption-text{
	display:inline-block;
	width:75%;
	pointer-events:none;
	font-family:Raleway,Montserrat,sans-serif;
	padding: 3px 5px;
}


.transcript-wrapper-2 .keyword-wrapper{
	width:calc(100% - 100px)!important
}

/*.keyword-wrapper{
	position:absolute;
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
	padding-bottom:10px;
	width:inherit;
	text-align:left;
	background:#000;
	border-top:1px solid gray
}
.keyword-wrapper.hide{
	display:none
}*/

.meta-data {
	height: 0;
	width: 0;
}
#meta-userId, #meta-videoId {
	opacity: 0;
}


/* Toggle Switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

.theme-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}