.all-container {
  background: black;
}
.player-container {
  margin: auto;
  text-align: center;
}

#player {
  margin: auto;
  /* width: 840px !important; */
  /* height: 590px !important; */
}

.jwplayer video {
  height: initial !important;
}

.sidebar {
  width: 1140px !important;
}

@media (max-width: 762px) {
  #player {
    /* margin: 20px 0px; */
    width: calc(100%) !important;
    /* height: 390px !important; */
  }

  .sidebar {
    width: 520px !important;
  }
  #player.left-side {
    display: inline-block;
  }
  .transcript-wrapper.right-side {
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    width: calc(100%) !important;
    margin-top: 20px;
  }
  .transcript {
    /* max-height: 150px; */
  }
}

@media (min-width: 762px) and (max-width: 962px) {
  #player {
    margin: 20px 0px;
    width: calc(100%) !important;
    /* height: 490px !important; */
  }

  .sidebar {
    width: 720px !important;
  }

  #player.left-side {
    display: inline-block;
  }
  .transcript-wrapper.right-side {
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    width: calc(100%) !important;
    margin-top: 20px;
  }
  .transcript {
    /* max-height: 150px; */
  }
}

@media (min-width: 962px) and (max-width: 1168px) {
  #player {
    margin: 20px 0px;
    width: calc(100%) !important;
    /* height: 550px !important; */
  }

  .sidebar {
    width: 720px !important;
  }

  #player.left-side {
    display: inline-block;
  }
  .transcript-wrapper.right-side {
    display: inline-block;
    /* max-height: 250px; */
    margin-bottom: 100px;
    /* width: 960px; */
    width: calc(100%) !important;
    margin-top: 20px;
  }
  .transcript {
    /* max-height: 250px; */
  }
}

@media (min-width: 1168px) and (max-width: 1278px) {
  #player {
    /* width: 960px !important; */
    width: calc(100%) !important;
    /* height: 600px !important; */
  }

  .sidebar {
    width: 960px !important;
  }

  #player.left-side {
    display: inline-block;
  }
  .transcript-wrapper.right-side {
    margin-top: 20px;
    display: inline-block;
    max-height: 300px;
    margin-bottom: 100px;
    /* width: 960px; */
    width: calc(100%) !important;
  }
  .transcript {
    /* max-height: 300px; */
  }
}

@media (min-width: 1278px) and (max-width: 1440px) {
  #player {
    /* width: 1140px !important; */
    width: calc(100%) !important;
    /* height: 650px !important; */
  }

  .sidebar {
    width: 1140px !important;
  }

  #player.left-side {
    display: inline-block;
  }
  .transcript-wrapper.right-side {
    margin-top: 20px;
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    /* width: 1140px; */
    width: calc(100%) !important;
  }
  .transcript {
    /* max-height: 350px; */
  }
}

@media (min-width: 1440px) {
  #player.left-side {
    margin-right: 50px;
    display: inline-block;
    width: 60% !important;
    /* height: calc(width * 0.65) !important; */
  }
  .transcript-wrapper.right-side {
    display: inline-block;
    max-height: 640px;
    margin-bottom: 70px;
    width: 35%;
  }
  .transcript {
    max-height: 640px;
  }
  .player-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.transcript {
  padding: 0px 20px;
  margin-bottom: 30px;
  overflow: auto;
}

.sidebar {
  /* width: 100% !important; */
  margin: auto !important;
  /* width: 1140px !important; */
  height: 260px;
  background-color: #7e7e7f;
  font-family: Arial, sans-serif;
  float: inherit !important;
}

.jw-media.jw-reset {
  background: black;
}

.sidebar h3 {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}


.transcript-wrapper {
  display: none;
}


.transcript-wrapper-2 {
  /* height: 150px; */
  margin: 50px 50px 0px;
}

@media (max-width: 1024px) {
  .transcript-wrapper-2 {
    margin: 60px 10px 0px;
  }
}

.transcript-wrapper-2 #transcript {
  min-height: 200px !important;
}
@media (max-width: 358px) {
  .transcript-wrapper-2 #transcript {
    height: calc(100vh - 600px);
  }
  .two-video-container #transcript {
    height: calc(100vh - 250px);
  }
  .all-container-2 .transcript-wrapper-2 {
    margin-top: 80px;
  }
}
@media (min-width: 358px) and (max-width: 768px) {
  .transcript-wrapper-2 #transcript {
    height: calc(100vh - 450px);
  }
  .two-video-container #transcript {
    height: calc(100vh - 350px);
  }
  .all-container-2 .transcript-wrapper-2 {
    margin-top: 80px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .transcript-wrapper-2 #transcript {
    height: calc(100vh - 700px);
  }
  .two-video-container #transcript {
    height: calc(100vh - 500px);
  }
  .all-container-2 .transcript-wrapper-2 {
    margin-top: 80px;
  }
}
@media (min-width: 1024px) {
  .transcript-wrapper-2 #transcript {
    height: calc(100vh - 850px);
  }
  .two-video-container #transcript {
    height: calc(100vh - 600px);
  }
  .all-container-2 .transcript-wrapper-2 {
    margin-top: 80px;
  }
  .mob-1, .mob-2 {
    margin-top: 40px !important;
  }
}

.transcript-wrapper-2 .keyword-wrapper {
  width: calc(100% - 100px) !important;
}
@media (max-width: 1024px) {
  .all-container-2 .keyword-wrapper {
    width: calc(100% - 20px) !important;
  }
}

#search {
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  height: 32px;
  padding: 4px 11px;
  display: inline-block;
  margin-left: 10%;
  width: 40%;
  color: #d9d9d9;
  font-size: 14px;
  font-family: 'Raleway', 'Montserrat', sans-serif;
}

.tool-box {
  padding-bottom: 20px;
}

.tool-box select {
  border: 1px solid #d9d9d9;
  /* background-color: rgba(255, 255, 255, .5); */
  color: #d9d9d9;
  background-color: transparent;
  padding: 5px;
  width: 40%;
  border-radius: 4px;
}

.tool-box select option {
  background-color: transparent !important;
  border: 1px solid #e4e4e4;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.transcript::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.transcript::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.transcript::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.transcript p {
  font-size: 15px;
  overflow: hidden;
  text-align: left;
  color: #fff;
  line-height: 20px;
  margin-top: 0px;
}

.transcript span {
  display: block;
  padding: 3px 2px;
  cursor: pointer;
  color: #fff;
}
/* .mob span {
  font-size: 25px !important;
  padding: 5px 2px !important;
}
.mob .caption-dot {
  padding: 2px !important;
}
.mob #transcript {
  margin-top: 80px;
} */

.transcript span.current {
  /* background: #00f096; */
  background: #616161;
  color: #000;
}

.transcript span:hover {
  /* color: #00f096; */
  color: #616161;
}

.transcript span em {
  font-style: normal;
  background: #666;
  color: #FFF;
}

.transcript span em.current {
  background: #ff0046;
}

.transcript h4 {
  margin: 25px 0 15px 0;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.caption-copy {
  max-width: 640px;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
}

.caption-copy div,
.caption-copy ol,
.caption-copy li {
  text-align: left;
  font-size: 20px;
}

.caption-copy div {
  font-weight: 400;
  margin: 15px 0;
}

.caption-copy ol {
  margin-left: 15px;
  margin-top: 20px;
}

.caption-copy li {
  margin-bottom: 10px;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

#control-bar {
  position: absolute;
  z-index: 100;
  /* bottom: 0; */
  left: 50px;
  right: 50px;
  height: 58px;
  margin: 0 10px;
  /* background: url('/assets/jwplayer/assets/chrome.png') 0 0; */
}


/* @media (max-width: 1168px) {
  #control-bar {
    left: 50px;
    right: 50px;
  }
}
*/
@media (max-width: 1440px) {
  #control-bar {
    left: 10px;
    right: 10px;
  }
}

#controls-left {
  left: 0;
  margin-left: -10px;
  /* background: url('/assets/jwplayer/assets/chrome.png') left -61px no-repeat; */
  position: absolute;
  white-space: nowrap;
  padding: 13px 12px 0;
  height: 46px;
}

#controls-right {
  right: 0;
  margin-right: -10px;
  /* background: url('/assets/jwplayer/assets/chrome.png') right -123px no-repeat; */
  position: absolute;
  white-space: nowrap;
  padding: 13px 12px 0;
  height: 46px;
}

#controls-middle {
  margin-left: 192px;
  margin-right: 185px;
  position: relative;
}

#control-bar button {
  border-width: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  color: black;
}

#controls-left>button,
#controls-right>button,
#controls-left>div,
#controls-right>div {
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#playPauseButton,
#playStopButton {
  margin: 0;
}

#playPauseButton {
  cursor: pointer;
  background: url("/assets/jwplayer/assets/buttons.png") 0 -449px;
}

#playPauseButton.Pause {
  background-position: 0px -381px;
}

#playPauseButton.Play {
  background-position: 0px -449px;
}


#nextWordButton {
  transform: rotate(180deg) scaleY(-1);
  cursor: pointer;
  background-image: url("/assets/jwplayer/assets/buttons.png");
  background-color: transparent;
}
#nextWordButton.active {
  background-position: -0px -613px;
  opacity: 1;
}
#nextWordButton {
  background-position: -0px  -613px;
  opacity: 0.7;
}

#playSpeedButton {
  cursor: pointer;
  background: url("/assets/jwplayer/assets/buttons.png");
  width: 44px !important;
  height: 32px;
  padding: 11px 14px;
  font-size: 10px;
  background-position: -40px -892px;
}

#captionButton {
  cursor: default;
  background: url('/assets/jwplayer/assets/buttons.png');
  height: 60px;
}

#captionButton.active {
  background-position: -128px -50px;
  cursor: pointer;
}

#captionButton.inactive {
  background-position: -96px -50px;
}

#full-screen {
  cursor: pointer;
  background: url("/assets/jwplayer/assets/buttons.png") 0 -743px;
}

#swap-control {
  cursor: pointer;
  background: url("/assets/jwplayer/assets/buttons.png") 0 -350px;
  display: none;
}
#resolution-control {
  cursor: pointer;
  background: url("/assets/jwplayer/assets/buttons.png") 0px -300px;
}

#seek-bar {
  margin-top: 21px;
  height: 15px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  padding: 0px 0px 0px 0px;
}

#seek-bar:focus {
  outline: none;
}

#seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#seek-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 19px;
  border-radius: 4px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

#seek-bar::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#seek-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 19px;
  border-radius: 4px;
  background: #CCCCCC;
  cursor: pointer;
}

#seek-bar::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#seek-bar::-ms-fill-lower {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#seek-bar::-ms-fill-upper {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#seek-bar::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 19px;
  border-radius: 4px;
  background: #CCCCCC;
  cursor: pointer;
}

.end-time {
  position: absolute;
  right: 0px;
  top: 35px;
  color: white;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}

.current-time {
  position: absolute;
  left: 0px;
  top: 35px;
  color: white;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}

#mute {
  cursor: pointer;
  background-image: url("/assets/jwplayer/assets/buttons.png");
  background-color: transparent;
  margin-right: auto;
}

#mute.active {
  background-position: 0px -773px;
}

#mute.in-active {
  background-position: 0px -805px;
}

#searchButton {
  float: right !important;
  cursor: pointer;
  background-image: url("/assets/jwplayer/assets/buttons.png");
  background-color: transparent;
  margin-right: auto;
  background-position: 0px -710px;
}

#searchButton.active {
  background-position: -30px -710px;
}

#volume-bar {
  margin-top: 10px;
  height: 15px;
  -webkit-appearance: none;
  width: calc(100% - 42px);
  background: transparent;
}

#volume-bar:focus {
  outline: none;
}

#volume-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#volume-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

#volume-bar::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#volume-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background: #CCCCCC;
  cursor: pointer;
}

#volume-bar::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#volume-bar::-ms-fill-lower {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#volume-bar::-ms-fill-upper {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#volume-bar::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background: #CCCCCC;
  cursor: pointer;
}

.keyword_wrapper {
  position: absolute;
  /* transform: translateY(-100%); */
  width: 100%;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
}

.keyword_wrapper .col-25 {
  width: 25%;
  display: inline-block;
  /* background: #fff; */
  color: white;
}

.keyword_wrapper .col-75 {
  width: 75%;
  display: inline-block;
}

.keyword_wrapper ul {
  list-style: none;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 15px 20px;
}

.keyword_wrapper li {
  float: left;
  /* width: 25%; */
}

.keyword_wrapper .link {
  cursor: pointer;
  color: #1890ff;
}

.svg-wrapper {
  margin-top: -30px;
}
.svg {
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.caption {
  z-index: -100;
}

.caption-time {
  display: inline-block !important;
  /* width: 20%; */
  vertical-align: top;
  pointer-events: none;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}
.caption-time i {
  font-size: 14px;
  /* font-family: 'Roboto', sans-serif; */
  font-size: .9em;
}
.caption-dot {
  display: inline-block !important;
  border-color: #1890ff !important;
  color: #1890ff !important;
  width: 3px;
  height: 3px;
  vertical-align: top;
  margin-top: 10px;
  padding: 0px !important;
  background-color: #fff !important;
  border-radius: 3px;
  border: 2px solid transparent;
  margin-right: 2px;
}
.caption-text {
  display: inline-block !important;
  width: 75%;
  pointer-events: none;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}
@media (max-width: 762px){
  .caption-text {
    width: 100%;
  }
  #transcript {
    padding: inherit;
  }
}
.mob-1 .caption-text, .mob-2 .caption-text {
  width: 100%;
}

.listing__keywords-of-topic {
  list-style: none;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 15px 20px;
}

.listing__keywords-of-topic li {
  float: left;
  width: 25%;
}
.listing__keywords-of-topic a {
  color : white;
  text-decoration:  none;
  cursor: pointer;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}
.keyword-wrapper {
  position: absolute;
  transform: translateY(-100%);
  padding-bottom: 10px;
  width: inherit;
  text-align: left;
  background: #000;
  border-top: solid 1px gray;
}
.keyword-wrapper.hide {
  display: none;
}
#toggleSearch {
  height: 32px;
  padding: 4px 11px;
  width: 40%;
  border-color: white;
  background: transparent;
  color: white;
  border: solid 1px;
  border-radius: 5px;
  /* font-family: serif; */
  cursor: pointer;
  font-size: 14px;
  font-family: 'Raleway', 'Montserrat', sans-serif;
}
#toggleSearch.active {
  color: #337ABB;
}

.player-container.left-wrapper {
  width: 60% !important;
  display: inline-block;
  left: 10px;
}
.left-wrapper > #player {
  width: calc(100% - 20px) !important;
  margin: auto;
}

.second-container {
  display: none;
}
.second-container.right-wrapper {
  /* width: 30% !important; */
  display: inline-block;
}
#player2 {
  width: calc(100% - 20px)!important;
  margin:auto;
}

#layout-controls button {
  width: 36px;
  height: 36px;
  display: block;
  border-width: 0;
  padding: 0;
  background-color: black;
}
.stage-sideBySideButton {
  cursor: pointer;
  background-position: 0px -577px;
  background-image: url("/assets/jwplayer/assets/buttons.png");
}
.stage-sideBySideButton.active {
  background-position: -144px -577px;
}
.stage-fullFrameButton {
  cursor: pointer;
  background-position: 0px -645px;
  background-image: url("/assets/jwplayer/assets/buttons.png");
}
.stage-fullFrameButton.active {
  background-position: -144px -645px;
}
.stage-swapButton {
  cursor: pointer;
  background-position: 0px -224px;
  background-image: url("/assets/jwplayer/assets/buttons.png");
}
#layout-controls {
  position: absolute;
  top: 20px;
  right: 8px;
  width: 36px;
  z-index: 1;
}

#resolution-items {
  position: absolute;
  top: 46px;
  right: 48px;
  padding: 5px 0px;
  background: #111;
  width: 56px;
  border-radius: 3px;
  display: none;
}

#resolution-items button {
  width: 100%;
  height: 36px;
  display: block;
  border-width: 0;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

#resolution-items button.active {
  background-color: #222;
}

#resolution-items button:hover {
  background-color: #222;
}

.mob-1 #nextWordButton, .mob-1 #captionButton, .mob-1 #full-screen, .mob-1 #mute, .mob-1 #volume-bar {
  display: none;
}
.mob-2 #controls-middle, .mob-2 #playSpeedButton {
  display: none;
}
.mob-1 #controls-middle {
  margin-left: 82px;
  margin-right: 12px;
}

#layout-controls {
  opacity: 0.2;
}
#layout-controls:hover {
  opacity: 1;
}

#layout-controls:hover .opacity-2 {
  opacity: 0.4
}

#initializing {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  background: black;
}
#initializing .text {
  font-size: 14px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  position: relative;
  top: 0%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 280px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 5px solid #999;
  border-top: none;
  background-color: #666;
  color: #eee;
  padding: 5px;
  text-align: center;
  line-height: 30px;
}

#unmuteButtonWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #ddd;
  padding: 10px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
  opacity: 0.8;
}
#unmuteButtonWrapper:hover {
  background: #ccc;
  opacity: 1;
}
.unmute-icon {
  cursor: pointer;
  background-image: url("/assets/jwplayer/assets/buttons.png");
  background-color: transparent;
  margin-right: auto;
  background-position: 0px -805px;
  width: 32px;
  height: 32px;
  display: inline-block
}
#unmute {
  height: 32px;
  color: #555;
  font-family: -webkit-pictograph;
}

.ytp-unmute-text {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-left: 7px;
  font-weight: 700;
}

.ytp-unmute-icon {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  position: relative;
  z-index: 10;
}
.ytp-unmute-icon i {
  font-size: 14px;
  font-weight: 700;
}

.ytp-unmute-inner {
  position: relative;
  background-color: transparent;
  border-bottom: none;
  padding: 0;
  border-radius: 2px;
}
